*/build/
toolchain-sunxi-glibc/
firmware/arm-openwrt-linux-gnueabi-g++
firmware/lib/alsa/libasound.so
firmware/lib/alsa/libasound.so.2
firmware/lib/bz2/libbz2.so
firmware/lib/bz2/libbz2.so.1.0
firmware/lib/curl/libcurl.so
firmware/lib/curl/libcurl.so.4
firmware/lib/ffmpeg/libavcodec.so
firmware/lib/ffmpeg/libavcodec.so.58
firmware/lib/ffmpeg/libavdevice.so
firmware/lib/ffmpeg/libavdevice.so.58
firmware/lib/ffmpeg/libavfilter.so
firmware/lib/ffmpeg/libavfilter.so.7
firmware/lib/ffmpeg/libavformat.so
firmware/lib/ffmpeg/libavformat.so.58
firmware/lib/ffmpeg/libavutil.so
firmware/lib/ffmpeg/libavutil.so.56
firmware/lib/ffmpeg/libpostproc.so
firmware/lib/ffmpeg/libpostproc.so.55
firmware/lib/ffmpeg/libswresample.so
firmware/lib/ffmpeg/libswresample.so.3
firmware/lib/ffmpeg/libswscale.so
firmware/lib/ffmpeg/libswscale.so.5
firmware/lib/freetype/libfreetype.so
firmware/lib/freetype/libfreetype.so.6
firmware/lib/gmp/libgmp.so
firmware/lib/gmp/libgmp.so.10
firmware/lib/gnutls/libgnutls.so
firmware/lib/gnutls/libgnutls.so.30
firmware/lib/gnutls/libgnutlsxx.so
firmware/lib/gnutls/libgnutlsxx.so.28
firmware/lib/hogweed/libhogweed.so
firmware/lib/hogweed/libhogweed.so.4
firmware/lib/jpeg/libjpeg.so
firmware/lib/jpeg/libjpeg.so.8
firmware/lib/jpeg/libturbojpeg.so
firmware/lib/jpeg/libturbojpeg.so.0
firmware/lib/minizip/libminizip-ng.so
firmware/lib/minizip/libminizip-ng.so.3
firmware/lib/minizip/libminizip.so
firmware/lib/minizip/libminizip.so.1
firmware/lib/nettle/libnettle.so
firmware/lib/nettle/libnettle.so.6
firmware/lib/nghttp2/libnghttp2.so
firmware/lib/nghttp2/libnghttp2.so.14
firmware/lib/openssl/libcrypto.so
firmware/lib/openssl/libssl.so
firmware/lib/opus/libopus.so
firmware/lib/opus/libopus.so.0
firmware/lib/png/libpng.so
firmware/lib/png/libpng.so.3
firmware/lib/png/libpng12.so.0
firmware/lib/tasn1/libtasn1.so
firmware/lib/tasn1/libtasn1.so.6
firmware/lib/ts/libts.so
firmware/lib/ts/libts.so.0
firmware/lib/unistring/libunistring.so
firmware/lib/unistring/libunistring.so.5
firmware/lib/uuid/libuuid.so
firmware/lib/uuid/libuuid.so.1
firmware/lib/x264/libx264.so
firmware/lib/zlib/libz.so
firmware/lib/zlib/libz.so.1
firmware/lib/alsa/libasound.so
firmware/lib/alsa/libasound.so.2
firmware/lib/bz2/libbz2.so
firmware/lib/bz2/libbz2.so.1.0
firmware/lib/curl/libcurl.so
firmware/lib/curl/libcurl.so.4
firmware/lib/ffmpeg/libavcodec.so
firmware/lib/ffmpeg/libavcodec.so.58
firmware/lib/ffmpeg/libavdevice.so
firmware/lib/ffmpeg/libavdevice.so.58
firmware/lib/ffmpeg/libavfilter.so
firmware/lib/ffmpeg/libavfilter.so.7
firmware/lib/ffmpeg/libavformat.so
firmware/lib/ffmpeg/libavformat.so.58
firmware/lib/ffmpeg/libavutil.so
firmware/lib/ffmpeg/libavutil.so.56
firmware/lib/ffmpeg/libpostproc.so
firmware/lib/ffmpeg/libpostproc.so.55
firmware/lib/ffmpeg/libswresample.so
firmware/lib/ffmpeg/libswresample.so.3
firmware/lib/ffmpeg/libswscale.so
firmware/lib/ffmpeg/libswscale.so.5
firmware/lib/freetype/libfreetype.so
firmware/lib/freetype/libfreetype.so.6
firmware/lib/gmp/libgmp.so
firmware/lib/gmp/libgmp.so.10
firmware/lib/gnutls/libgnutls.so
firmware/lib/gnutls/libgnutls.so.30
firmware/lib/gnutls/libgnutlsxx.so
firmware/lib/gnutls/libgnutlsxx.so.28
firmware/lib/hogweed/libhogweed.so
firmware/lib/hogweed/libhogweed.so.4
firmware/lib/jpeg/libjpeg.so
firmware/lib/jpeg/libjpeg.so.8
firmware/lib/jpeg/libturbojpeg.so
firmware/lib/jpeg/libturbojpeg.so.0
firmware/lib/minizip/libminizip-ng.so
firmware/lib/minizip/libminizip-ng.so.3
firmware/lib/minizip/libminizip.so
firmware/lib/minizip/libminizip.so.1
firmware/lib/nettle/libnettle.so
firmware/lib/nettle/libnettle.so.6
firmware/lib/nghttp2/libnghttp2.so
firmware/lib/nghttp2/libnghttp2.so.14
firmware/lib/openssl/libcrypto.so
firmware/lib/openssl/libssl.so
firmware/lib/opus/libopus.so
firmware/lib/opus/libopus.so.0
firmware/lib/png/libpng.so
firmware/lib/png/libpng.so.3
firmware/lib/png/libpng12.so.0
firmware/lib/tasn1/libtasn1.so
firmware/lib/tasn1/libtasn1.so.6
firmware/lib/ts/libts.so
firmware/lib/ts/libts.so.0
firmware/lib/unistring/libunistring.so
firmware/lib/unistring/libunistring.so.5
firmware/lib/uuid/libuuid.so
firmware/lib/uuid/libuuid.so.1
firmware/lib/x264/libx264.so
firmware/lib/zlib/libz.so
firmware/lib/zlib/libz.so.1
firmware/autoreleash.sh
